@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:host {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  font-family: 'Montserrat', sans-serif;
  background-color: #223240;
  color: #D9D9D9;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 20px 15px -20px rgba(0,0,0,0.5);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.icono-menu {
  height: 27px;
  width: auto;
}

.page-title {
  margin-left: 15px;
  font-size: 20px;
  font-weight: 820;
  color: #D9D9D9;
  flex-grow:1;
}

.user-info {
  display:flex;
  flex-direction:column;
  align-items: flex-end;
  text-align: right;
}

.user-name {
  font-size: 16px;
  font-weight: 700;
}

.user-role {
  font-size: 12px;
  font-weight:500;
  color: #006DCC;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}