<header>
  <button class="menu-toggle" (click)="toggleSidebar()" aria-label="Abrir menú">
    <img src="/Images/menu.png" alt="Abrir menú" class="icono-menu" />
  </button>
  <h2 class="page-title">{{ pageTitle }}</h2>
  <div class="user-info">
    <div class="user-name">{{ userName }}</div>
    <div class="user-role">{{ userRole }}</div>
  </div>
</header>
<div class="overlay" 
     [class.active]="isSidebarActive" 
     (click)="closeSidebar()">
</div>

<app-slide-user 
  *ngIf="getUserRole() === 1" 
  [isOpen]="isSidebarActive" 
  (closed)="closeSidebar()">
</app-slide-user>

<app-slide-ab 
  *ngIf="getUserRole() === 2" 
  [isOpen]="isSidebarActive" 
  (closed)="closeSidebar()">
</app-slide-ab>

<app-slide-admin 
  *ngIf="getUserRole() === 3" 
  [isOpen]="isSidebarActive" 
  (closed)="closeSidebar()">
</app-slide-admin>

<router-outlet></router-outlet>