@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:host {
  display: block;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none;
}

.sidebar-overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.sidebar {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #223240;
  color: #D9D9D9;
  z-index: 10;
  display: flex;
  flex-direction: column;
  transform: translateX(-280px);
  transition: transform 0.3s ease;
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar-header {
  margin-top: 25px;
  padding: 1rem;
}

button.menu-toggle {
  background: none;
  border: none;
  color: #D9D9D9;
  cursor: pointer;
  font-size: 20px;
}

.sidebar-menu {
  flex: 1;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

.sidebar-menu img {
  width: 27px;
  height: 27px;
  margin-right: 5px;
}

a.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  color: #D9D9D9;
  font-weight: 600;
  transition: background 0.2s;
  cursor: pointer;
}

a.menu-item:hover {
  background: rgba(110, 181, 244, 0.5);
}

a.menu-item.active {
  background: #006DCC;
  box-shadow: 0px 20px 15px -20px rgba(0, 0, 0, 0.5);
}

.sidebar-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0px;
  padding: 1rem 1.5rem;
}