
:host {
    display: block;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    background-color: #D9d9d9;
   
    padding-top: 80px;
}



.cards-informativas {
  margin-top: 40px;
  max-width: 1375px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px; 
  box-sizing: border-box;
}



.card-info {
  display: flex;
  flex-direction: column;         
  width: 100%;                  
  margin: 20px auto;         
  padding: 8px;
  box-sizing: border-box;
  background-color: #fdfdfd; 
  border-radius: 10px;          
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  position: relative;
  
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.5s ease-out forwards;
}

.card-inner {
  border: 2px solid #223240;
  border-radius: 8px;
  padding: 25px;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-right: 80px; 
}


.card-info h3 {
  font-size: 20px;
  font-weight: 820;
  color: #223240;
  margin-bottom: 10px;
  text-align: left;
  position: relative;
}

.card-info p {
  font-size: 16px;
  color: #223240;
  text-align: justify;
  line-height: 1.4;
  word-wrap: break-word;
  word-break: break-word;
  position: relative;
}

.card-logo {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
  height: auto;
  margin-bottom: -10px;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}