
:host {
  font-family: Montserrat, sans-serif;
  background-color: #D9D9D9;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100vh;
}

.vista-inicio {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;           
}

.vista-registro {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;           
}



.izquierda {
    display: flex;
    flex-direction: column;
    background-color: #223240;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 700px;   
    height: 100vh;           
}


.izquierda h1 {
    color: #D9D9D9;
    font-size: 35px;
    font-weight: 850;
    text-align: left;
    margin: 20px;
    margin-top: 80px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}



.izquierda p {
    color: #D9D9D9;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin: 20px;
    margin-bottom: 10px;
    margin-right: 50px;
    position: relative;
    z-index: 2;
}

.derecha {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;   
}

.derecha {
    background-image: url('/Images/background.png');
    background-size: 1500px 1000px;
    background-position: right;    
    background-repeat: no-repeat;
}


.derecha .content-abogados{
    margin-top: 80px;
}

.derecha h3 {
    color: #223240;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0px;
    position: relative;
    z-index: 2;
}

.derecha .content-abogados h3 {
    margin-top: -20px;
}


.derecha h2 {
    color: #223240;
    font-size: 30px;
    font-weight: 850;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
}

.derecha .content-abogados h2 {
    margin-top: 0px;
    margin-bottom: 80px;
}

.derecha .content-abogados p {
    color: #223240;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 70px;
    margin-left: 122px;
    margin-right: 120px;
    position: relative;
    z-index: 2;
}

.derecha .content-abogados .descripcion-abogado {
    margin-left: 142px;
    margin-right: 140px;

}

.boton-usuario {
    background-color: #223240;
    color: #D9D9D9;
    border: none;
    width: 640px;
    height: 40px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 10px;
    display: block;       
    margin: 0 auto;
    box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.22);
}

.boton-abogado{
    background-color: #223240;
    color: #D9D9D9;
    border: none;
    width: 640px;
    height: 40px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 10px;
    display: block;       
    margin: 0 auto; 

    box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.22);
}

.fila {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.fila input {
    width: 300px;
    height: 7px;
    border-radius: 10px;
    border: 3.5px solid #223240;
    background-color: #D9D9D9;
    padding: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 25px;
    box-shadow: 1px 3px 4px 0px rgba(0,0,0,0.22);
}

input::placeholder {
    color: #223240; 
    opacity: 70%;
}


.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    color: #223240;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 5px;
}

.campo select {
  width: 330px;
  height: 35px;
  border-radius: 10px;
  border: 3.5px solid #223240;
  background-color: #D9D9D9;
  color: #223240;
  padding: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 25px;
  box-shadow: 1px 3px 4px 0px rgba(0,0,0,0.22);
}

.campo select option {
    color: #223240;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.botton-submit button {
    font-family: Montserrat;
    font-weight: 800;
    width: 250px;
    height: 35px;
    background-color: #223240;
    border: none;
    border-radius: 8px;
    color: #D9D9D9;
    cursor: pointer;
    display: block;       
    margin: 0 auto; 
    margin-top: 20px;
    box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.22);
}

.fila-registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}   

.fila-registro input {
    width: 400px;
    height: 7px;
    border-radius: 10px;
    border: 3.5px solid #223240;
    background-color: #D9D9D9;
    padding: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 25px;
    box-shadow: 1px 3px 4px 0px rgba(0,0,0,0.22);
}

.fila .campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; 
}

.fila-archivos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top:  0px;
  margin-bottom: 40px;
}

.campo-archivo {
  display: flex;
  flex-direction: column;
}

.campo-archivo label {
  color: #223240;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  text-align: left;
}


.campo-archivo input[type="file"] {
  width: 250px;
  height: 15px;
  background-color: #223240;
  color: transparent; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0; 
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.22);
  position: relative;
}

.campo-archivo input[type="file"]::file-selector-button {
  background-color: #223240;
  color: #D9D9D9;
  border: none;
  padding: 0px 0px;
  border-radius: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.derecha .titulo-especialidad {
    color: #223240;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.contenedor-materias {
  width: 80%; 
  max-width: 800px;
  margin: 0 auto; 
  transform: scale(0.6); 
  transform-origin: top center;
  margin-top: -10px;
  margin-bottom: -130px;
}



.advertencia {
    display: flex;
    background-color: #006DCC;
    max-width: 100%;
    max-height: 100%;
    height: 10px;
    width: 250px;
    color: #D9D9D9;
    padding: 10px 5px;
    padding-left: 10px;
    border-radius: 10px;
    align-items: center;
    margin-top: -15px;
}

.advertencia-contrasena {
  background-color: #006DCC; 
  max-width: 100%;
  max-height: 100%;
  height: 20px;
  width: 250px;
  padding: 10px;
  font-size: 13px;
  font-weight: 800;
}


.advertencia p {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.areas-legales {
  position: relative;
}



.contenedor-materias {
  width: 80%; 
  max-width: 800px;
  margin: 0 auto; 
  transform: scale(0.6); 
  transform-origin: top center;
  margin-top: -10px;
  margin-bottom: -130px;
  z-index: 1;
}


#mensaje {
  text-align: center;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
}

.registro-links {
  text-align: center;
  margin-top: 30px;
  z-index: 2;
  position: relative;
}

.registro-links p {
  color: #223240;
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0;
}

.registro-links a {
  color: #006DCC; 
  font-weight: 700;
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}

.registro-links a:hover {
  text-decoration: underline;
}