@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:host {
  display: block;
}


.sidebar {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #223240;
  color: #D9D9D9;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  transform: translateX(-280px);
  transition: transform 0.3s ease;
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar-header {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  margin-top: 25px;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
  margin-bottom: 20px; 
}
.user-info-slide {
  text-align: left;
  line-height: 1.2;
}

.user-name-slide {
  font-size: 18px;
  font-weight: 800;
  color: #D9D9D9; 
  margin: 0 0 5px 0;
  word-wrap: break-word; 
  word-break: break-word;
}

.user-role-slide {
  font-size: 14px;
  font-weight: 500;
  color: #006DCC; 
  margin: 0;
}

button.menu-toggle {
  background: none;
  border: none;
  color: #D9D9D9;
  cursor: pointer;
  font-size: 20px;
}

.sidebar-menu {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.sidebar-menu img {
  width: 27px;
  height: 27px;
  margin-right: 5px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 15px; 
  padding: 12px 10px;
  text-decoration: none;
  color: #D9D9D9;
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-item img {
  width: 20px;
  height: 20px;
}

.menu-item:hover,
.menu-item.active {
  background-color: #006DCC;
  color: #FFFFFF;
}

.sidebar-footer {
  padding: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0px;
  padding: 1rem 1.5rem;
}